
/*FONTS--------------------------------*/
@meyertwo {
  font-family: meyer;
  src: url(fonts/meyertworegular.ttf);
  font-weight: regular;
}

/*CLASSES-----------------------------*/

.center {
  text-align:center;
  image
}

.lineheight1{
  line-height:1.5;
}

.centerwithmargin{
  display: block;
  margin-left:40px;
  margin-right:40px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*HEADER STYLING------------------------*/

header {
  background-color:#B7CDE5;
  border:20px solid#AA3d37;
  padding-top:20px;
  
}

header > h1 {
  padding:0px;
  font-family:fantasy;
  letter-spacing:2px;
  color:#FCE0C5;
  -webkit-text-stroke: 1px black;
}

header > h3 {
  font-family:'Courier New', Courier, monospace;
  letter-spacing:1.5px;
}

/*MAIN STYLING------------------------------------------*/

main {
  background-color:#63747A;
  border:20px solid #63747A;
}

main > div > h2 {
  text-align:center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#FCE0C5;
  border: 10px solid #B7CDE5;
  padding:40px;
  margin:
  
}

main > div > p{
  margin: 20px 40px;
  font-family:monospace;
  color: white;
  font-size: 12pt;
}

main > div > h3{
  text-align:center;
  font-family:'Courier New', Courier, monospace;
  color:#AA3d37;
}

main > div > ul, ol{
  text-align:left;
  font-family:'Courier New', Courier, monospace;
  color: #B7CDE5;
  margin:20px 40px;
}

main > div > h4{
  margin:20px 60px;
  color:seagreen;
  text-align:left;
}

Main > div > hr{
  color:#B7CDE5;
}
/*FOOTER STYLING--------------------------------------*/

footer{
  background-color:#AA3d37;
  padding:40px 60px;
  
}
footer > h4{
  color:#FCE0C5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer > h4 > a{
  color:#FCE0C5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
  color:#FCE0C5;
}

/* visited link */
a:visited {
  color:darkslategrey;
}

/* mouse over link */
a:hover {
  color:whitesmoke;
}

/* selected link */
a:active {
  color:dodgerblue;
}

footer::before {
  content:"CONTACT";
  color:#FCE0C5;
  font-family:fantasy;
  font-size:16pt;
}

footer::after {
  content:"THANK YOU!";
  color:#B7CDE5;
  font-family:fantasy;
  font-size:16pt;
}

